<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.21">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.53">
    <script>node {
   stage(&apos;deploy development service environment&apos;) {
       //Use AS3 Declaration with Development Specified Variables
      sh &quot;cd /home/snops/SNOPS-Class-3/ansible/class3 &amp;&amp; ansible-playbook -v /home/snops/SNOPS-Class-3/ansible/class3/playbooks/development_service.yml&quot;
      //chatops slack message that run has completed
      slackSend(
         channel: &apos;#jenkins_builds&apos;,
         color: &apos;good&apos;,
         message: &apos;Development Service Environment has been deployed, ready for Testing!&apos;,
         teamDomain: &apos;f5agilitydevops&apos;,
         token: &apos;vLMQmBq2tiyiCcZoNlbmAi0Z&apos;
         )
   }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
